/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*
fonte inter
font-family "Inter", sans-serif;

league spartan

font-family "league spartan", sans-serife
*/

:root {
  --font-menu: "inter", sans-serif;
  --font-corpo: "inter" sans-serif;
  --cor-titulo: "league spartan", sans-sarif

}



/* Definir cores tema dark */

:root,
:root[data-theme="dark"] {
  --cor-fundo: #111217;
  --cor-fundo-secundaria: #28292e;
  --cor-texto: #8f8f8f;
  --cor-icone: #ffa927;
  --cor-linck: #f0f0f0;
  --cor-hover: #e9e9e9;
  --cor-borda: #28292e;
  --icone-menu-mobile: #e9e9e9;
}

:root[data-theme="light"] {
  --cor-fundo: #e9e9e9;
  --cor-fundo-secundaria: #c7c8c9;
  --cor-texto: #323232;
  --cor-titulo: #12a3f7
  --cor-icone: #12a3f7;
  --cor-linck: #0b0b0f;
  --cor-hover: #9a9a9c;
  --cor-borda: #28292e;
  --icone-menu-mobile: #9a9a9c;
}

html[data-theme="light"] .logo {
  filter: invert(1);
}

/* Definir cores tema light */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cor-fundo); /* Cor Fundo */
  color: #f0f0f0; /* cor de texto */
  /*font-family: ; */
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

h1,
h2,
h3{
  font-family:var(--fonte-titulo);
  text-transform: uppercase;
  font-weight: 200;
}

strong{
  font-weight: 400;
}

p, span, li {
  font-size: 1rem;
}

#header {
  /*  ID = # */
  display: flex;
  flex-wrap: row wrap; /*Permite quebra de Linha*/
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  z-index: 200;
  position: fixed;
  border-bottom: 1px solid var(--cor-borda);
  background: var(--cor-fundo);
}
.menu-desktop {
  /*display: none ; */
}

.menu {
  display: flex;
  gap: 1rem; /* gap e um vão */
  align-items: center;
}

.menu-texto {
  color: var(--cor-texto);
  text-transform: uppercase; /* alterar o formato do texto */
  font-size: 0.75rem;
  font-weight: 600; /*Axpessura da fonte */
  font-family: var(--fonte-menu);
  text-rendering: optimizeLegibility;
}

.menu-link:hover .menu-texto {
  color: var(--cor-hover);
}

.social-icon {
  color: var(--cor-texto);
  font-size: 1.5rem;
}

.menu-link:hover .social-icon {
  color: var(--cor-hover);
  transition: all 0.3s ease-in-out;
}

.logo {
  width: 3.25rem; /* 52px */
  height: 1.89rem;
}

.header-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#toggleTheme {
  cursor: pointer;
  color: var(--cor-icone);
  font-size: 1rem; /* tamanho fonte */
}

/* Menu Mobile */
#menuMobile {
  margin-left: 1rem; /* voltar aqui */
}

.btn-menu-mobile {
  background: transparent;
  color: var(--icone-menu-mobile);
  border: none;
  font-size: 1.8rem;
  padding: 0.5rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Menu Mobile (estilo e animação) */

.menu-mobile {
  /* nav */
  position: fixed;
  top: 0;
  right: 0;
  background: var(--cor-fundo-secundaria);
  z-index: 100;
  transform: translateX(100%);
  display: flex;
  flex-direction: column; /* voltar */
  padding-top: 4rem;
  border-left: 1px solid var(--cor-borda);
  height: 100vh; /* VH = Viewpot heing */ /* VW = viewpot widht */
  width: 35%;
  transition: transform 0.3s ease-in-out;
}

.menu-mobile.active {
  transform: translateX(0%);
}

.menu-mobile .menu-lista {
  display: flex;
  text-align: center;
}

.menu-mobile .menu-link {
  font-size: 1rem;
  padding: 5rem 0;
}

#home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-contet {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video iframe{
width: 100%;
aspect-ratio: 16/9;
width:50%;
}

/* Voltar e aualizar */
#home,
.projetos,
.sobre,
.contato {
  padding: 2.5rem 1rem;
}




/* Medidas responsivas */


@media(max-width:768px) {
  #home {
       padding-top: 6rem;
  }
}




@media (min-width: 768px) {
  /* A partir de 768px ate o infinito */
  #header {
    padding: 1rem 6rem;
  }

  .menu-desktop {
    display: flex; /* FLEXBOX */
    min-width: 30%;
  }


  .header-toggle {
    min-width: 30%;
  }

  .btn-menu-mobile {
    display: none;
  }

  #home,
  .projetos,
  .sobre {
    padding: 8rem 6rem 4rem 6rem;
  }


  .main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    font-size: 5rem;
  }

} /* Fim min-width 768 */

@media (min-width: 1200px) {
  #home {
    padding: 6rem 6rem 2rem;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 6.35rem;

  }
}
